<div class="pa3 flex flex-column mt4 carte">
  <div class="grey-3">
    <span class="mv1" style="display: block"><i class="fas fa-phone mr1"></i> 06 36 36 86 41</span>
    <span class="mv1" style="display: block"><i class="fas fa-envelope mr1"></i> contact@diag-occimmo.fr</span>
  </div>

  <div class="tc mt3 mb2">
    <a href="/contact" class="btn raise">Contactez-nous</a>
  </div>
</div>

<div class="pa3 flex flex-column justify-center mt4 carte">
  <h3 class="mb3 center">Zone d'intervention</h3>

  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d414579.9115786149!2d1.4886791138950406!3d43.77554395025443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1574173150160!5m2!1sfr!2sfr" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" class="center"></iframe> -->
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1482531.7660204344!2d0.6568651562500003!3d43.46957666186536!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec0c8dcd21dbda68!2sDIAG%20OCCIMMO!5e0!3m2!1sfr!2sfr!4v1574773640693!5m2!1sfr!2sfr" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" class="center"></iframe>
</div>

<div class="pa3 flex flex-column mv4 carte">
  <img src="/img/logo-qualixpert.png" alt="logo qualixpert" style="margin: auto">

  <p class="grey-3 f6 mt3">
    Notre personnel est titulaire des <a href="/" class="primary">Certificats de Compétences</a> délivrés par
    <strong>QUALIXPERT</strong> organisme accrédité par le
    <strong>COFRAC</strong> (Comité français d'Accréditation).
  </p>
</div>

<div class="pa3 flex flex-column mv4 carte">
  <img src="/img/logo-gan.png" alt="logo gan" style="margin: auto; width: 150px;">

  <p class="grey-3 f6 mt3">
    Notre personnel est titulaire des <a href="/" class="primary">Certificats de Compétences</a> délivrés par
    <strong>QUALIXPERT</strong> organisme accrédité par le
    <strong>COFRAC</strong> (Comité français d'Accréditation).
  </p>
</div>

