<div class="pa3 flex flex-column mt4 carte">
  <div class="grey-3">
    <span class="mv1" style="display: block"><i class="fas fa-phone mr1"></i> 06 36 36 86 41</span>
    <span class="mv1" style="display: block"><i class="fas fa-envelope mr1"></i> contact@diag-occimmo.fr</span>
  </div>

  <div class="tc mt3 mb2">
    <a href="/contact" class="btn raise">Contactez-nous</a>
  </div>
</div>

<div class="pa3 flex flex-column justify-center mt4 carte">
  <h3 class="mb3 center">Zone d'intervention</h3>

  <!-- <img src="/img/test-loc.svg" alt="zone d'intervention" style="width: 200px; ;margin: auto" /> -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d414579.9115786149!2d1.4886791138950406!3d43.77554395025443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1574173150160!5m2!1sfr!2sfr" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    
  <!-- <div class="flex f6 mb1 mt4 justify-around">
    <ul>
      <li><a class="link" href="/">Toulouse</a></li>
      <li><a class="link" href="/">Blagnac</a></li>
      <li><a class="link" href="/">Colomiers</a></li>
      <li><a class="link" href="/">Bruguières</a></li>
      <li><a class="link" href="/">Pechbonnieu</a></li>
      <li><a class="link" href="/">Montberon</a></li>
      <li><a class="link" href="/">Saint-géniès</a></li>
    </ul>
    <ul>
      <li><a class="link" href="/">Toulouse</a></li>
      <li><a class="link" href="/">Blagnac</a></li>
      <li><a class="link" href="/">Colomiers</a></li>
      <li><a class="link" href="/">Bruguières</a></li>
      <li><a class="link" href="/">Pechbonnieu</a></li>
      <li><a class="link" href="/">Montberon</a></li>
      <li><a class="link" href="/"></a></li>
    </ul>
  </div> -->

</div>

<div class="pa3 flex flex-column mv4 carte">
  <img src="/img/logo-qualixpert.png" alt="logo qualixpert" style="margin: auto">

  <p class="grey-3 f6 mt3">
    Nos techniciens sont titulaires des <a href="/" class="primary">Certificats de Compétences</a> délivrés par
    <strong>QUALIXPERT</strong> organisme accrédité par le
    <strong>COFRAC</strong> (Comité français d'Accréditation).
  </p>
</div>

