<div class="pa3 flex flex-column mt4 carte">
  <div class="grey-3">
    <span class="mv1" style="display: block"><i class="fas fa-phone mr1"></i> 06 36 36 86 41</span>
    <span class="mv1" style="display: block"><i class="fas fa-envelope mr1"></i> contact@diag-occimmo.fr</span>
  </div>

  <div class="tc mt3 mb2">
    <a href="/contact" class="btn raise">Contactez-nous</a>
  </div>
</div>

<div class="pa3 flex flex-column justify-center mt4 carte">
  <h3 class="mb3 center">Zone d'intervention</h3>

  <img src="/img/test-loc.svg" alt="zone d'intervention" style="width: 200px; ;margin: auto" />
    
  <div class="flex f6 mb1 mt4 justify-around">
    <ul>
      <li><a class="link" href="/">Toulouse</a></li>
      <li><a class="link" href="/">Blagnac</a></li>
      <li><a class="link" href="/">Colomiers</a></li>
      <li><a class="link" href="/">Bruguières</a></li>
      <li><a class="link" href="/">Pechbonnieu</a></li>
      <li><a class="link" href="/">Montberon</a></li>
      <li><a class="link" href="/">Saint-géniès</a></li>
    </ul>
    <ul>
      <li><a class="link" href="/">Toulouse</a></li>
      <li><a class="link" href="/">Blagnac</a></li>
      <li><a class="link" href="/">Colomiers</a></li>
      <li><a class="link" href="/">Bruguières</a></li>
      <li><a class="link" href="/">Pechbonnieu</a></li>
      <li><a class="link" href="/">Montberon</a></li>
      <li><a class="link" href="/"></a></li>
    </ul>
  </div>

</div>

<div class="pa3 flex flex-column mv4 carte">
  <img src="/img/logo-qualixpert.png" alt="logo qualixpert" style="margin: auto">

  <p class="grey-3 f6 mt3">
    Nos techniciens sont titulaires des <a href="/" class="primary">Certificats de Compétences</a> délivrés par
    <strong>QUALIXPERT</strong> organisme accrédité par le
    <strong>COFRAC</strong> (Comité français d'Accréditation).
  </p>
</div>

