<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="center mb4">
			<img src="/img/logo.svg" alt="logo" class="db w4 center mb4 br0">

			<p class="f6">Nous intervenons dans les communnes suivantes :
				Aucamville
				Aureville
				Aussonne
				Auzeville-Tolosane
				Balma
				Baziège
				Bazus
				Beauzelle
				Bessières
				Blagnac
				Bonrepos-Riquet
				Bouloc
				Bruguières
				Buzet-sur-Tarn
				Castanet-Tolosan
				Castelginest
				Castelmaurou
				Castelnau-d'Estrétefonds
				Cépet
				Colomiers
				Cornebarrieu
				Cugnaux
				Escalquens
				Fenouillet
				Flourens
				Fonbeauzard
				Fronton
				Gagnac-sur-Garonne
				Gargas
				Garidech
				Gragnague
				Gratentour
				Grenade
				Labastide-Saint-Sernin
				Labège
				Lacroix-Falgarde
				Lapeyrouse-Fossat
				Launaguet
				Lavalette
				Léguevin
				Lespinasse
				Merville
				Mirepoix-sur-Tarn
				Mondonville
				Montastruc-la-Conseillère
				Montberon
				Montjoire
				Montrabé
				Ondes
				Paulhac
				Pechbonnieu
				Pibrac
				Pin-Balma
				Plaisance-du-Touch
				Quint-Fonsegrives
				Ramonville-Saint-Agne
				Revel
				Rouffiac-Tolosan
				Saint-Alban
				Saint-Jean
				Saint-Jory
				Saint-Loup-Cammas
				Saint-Sauveur
				Seilh
				Toulouse
				Tournefeuille
				L'Union
				Vacquiers
				Verfeil
				Villariès
				Villaudric
				Villefranche-de-Lauragais
				Villematier
				Villemur-sur-Tarn
				Villeneuve-lès-Bouloc
				Villeneuve-Tolosane
			</p>
		</div>

		<div class="flex-ns justify-between">

			<div class="w-third">
				<h3 class="f4 b lh-title mb1 primary">Diag OCcimmo</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<li>Vente / Location</li>
					<li class="indent"><a href="/vente" class="link">Vente</a></li>
					<li class="indent"><a href="/location" class="link">Location</a></li>
					<li><a href="/diagnostics-immobiliers" class="link">Diagnostics immobiliers</a></li>
					<li><a href="/post" class="link">Actualités</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div class="w-third">
				<h3 class="f4 b lh-title mb1 primary">Coordonnées</h3>
				<ul class="mb3">
					<li>19, Rue d'Espagne, 31140 Pechbonnieu</li>
					<li>Tél : <a href="tel:+33636368641">06 36 36 86 41</a></li>
					<li><a href="/contact">adresse email</a></li>
				</ul>
			</div>

			<div class="w-third">
				<h3 class="f4 b lh-title mb2 primary">Personnels qualifié</h3>
				<img src="/img/diploma.svg" alt="certifié" style="width: 200px">
				<p>Certificats de Compétences nºC037 délivrés par QUALIXPERT</p>
			</div>

		</div>

		<div class="flex justify-center">
			<p class="f6 mr2">© 2019 <a href="/">diag-occimmo.com</a></p>
			<p class="f6 ml2"><a href="/mentions-legales">Mentions légales</a></p>
		</div>

	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>