<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="center mb4">
			<img src="/img/logo-footer.svg" alt="logo" class="db w5 center mb4 br0">

			<p class="f6 tj"><strong>Nous intervenons dans les communnes suivantes :</strong>
				<a class="link" href="/">Aureville</a> | 
				<a class="link" href="/">Aussonne</a> | 
				<a class="link" href="/">Auzeville-Tolosane</a> | 
				<a class="link" href="/">Balma</a> | 
				<a class="link" href="/">Baziège</a> | 
				<a class="link" href="/">Bazus</a> | 
				<a class="link" href="/">Beauzelle</a> | 
				<a class="link" href="/">Bessières</a> | 
				<a class="link" href="/">Blagnac</a> | 
				<a class="link" href="/">Bonrepos-Riquet</a> | 
				<a class="link" href="/">Bouloc</a> | 
				<a class="link" href="/">Bruguières</a> | 
				<a class="link" href="/">Buzet-sur-Tarn</a> | 
				<a class="link" href="/">Castanet-Tolosan</a> | 
				<a class="link" href="/">Castelginest</a> | 
				<a class="link" href="/">Castelmaurou</a> | 
				<a class="link" href="/">Castelnau-d'Estrétefonds</a> | 
				<a class="link" href="/">Cépet</a> | 
				<a class="link" href="/">Colomiers</a> | 
				<a class="link" href="/">Cornebarrieu</a> | 
				<a class="link" href="/">Cugnaux</a> | 
				<a class="link" href="/">Escalquens</a> | 
				<a class="link" href="/">Fenouillet</a> | 
				<a class="link" href="/">Flourens</a> | 
				<a class="link" href="/">Fonbeauzard</a> | 
				<a class="link" href="/">Fronton</a> | 
				<a class="link" href="/">Gagnac-sur-Garonne</a> | 
				<a class="link" href="/">Gargas</a> | 
				<a class="link" href="/">Garidech</a> | 
				<a class="link" href="/">Gragnague</a> | 
				<a class="link" href="/">Gratentour</a> | 
				<a class="link" href="/">Grenade</a> | 
				<a class="link" href="/">Labastide-Saint-Sernin</a> | 
				<a class="link" href="/">Labège</a> | 
				<a class="link" href="/">Lacroix-Falgarde</a> | 
				<a class="link" href="/">Lapeyrouse-Fossat</a> | 
				<a class="link" href="/">Launaguet</a> | 
				<a class="link" href="/">Lavalette</a> | 
				<a class="link" href="/">Léguevin</a> | 
				<a class="link" href="/">Lespinasse</a> | 
				<a class="link" href="/">Merville</a> | 
				<a class="link" href="/">Mirepoix-sur-Tarn</a> | 
				<a class="link" href="/">Mondonville</a> | 
				<a class="link" href="/">Montastruc-la-Conseillère</a> | 
				<a class="link" href="/">Montberon</a> | 
				<a class="link" href="/">Montjoire</a> | 
				<a class="link" href="/">Montrabé</a> | 
				<a class="link" href="/">Ondes</a> | 
				<a class="link" href="/">Paulhac</a> | 
				<a class="link" href="/">Pechbonnieu</a> | 
				<a class="link" href="/">Pibrac</a> | 
				<a class="link" href="/">Pin-Balma</a> | 
				<a class="link" href="/">Plaisance-du-Touch</a> | 
				<a class="link" href="/">Quint-Fonsegrives</a> | 
				<a class="link" href="/">Ramonville-Saint-Agne</a> | 
				<a class="link" href="/">Revel</a> | 
				<a class="link" href="/">Rouffiac-Tolosan</a> | 
				<a class="link" href="/">Saint-Alban</a> | 
				<a class="link" href="/">Saint-Jean</a> | 
				<a class="link" href="/">Saint-Jory</a> | 
				<a class="link" href="/">Saint-Loup-Cammas</a> | 
				<a class="link" href="/">Saint-Sauveur</a> | 
				<a class="link" href="/">Seilh</a> | 
				<a class="link" href="/">Toulouse</a> | 
				<a class="link" href="/">Tournefeuille</a> | 
				<a class="link" href="/">L'Union</a> | 
				<a class="link" href="/">Vacquiers</a> | 
				<a class="link" href="/">Verfeil</a> | 
				<a class="link" href="/">Villariès</a> | 
				<a class="link" href="/">Villaudric</a> | 
				<a class="link" href="/">Villefranche-de-Lauragais</a> | 
				<a class="link" href="/">Villematier</a> | 
				<a class="link" href="/">Villemur-sur-Tarn</a> | 
				<a class="link" href="/">Villeneuve-lès-Bouloc</a> | 
				<a class="link" href="/">Villeneuve-Tolosane</a>
			</p>
		</div>

		<div class="flex-ns justify-around-ns">

			<div class="w-third-ns tc tl-ns">
				<h3 class="f4 b lh-title mb1 primary">Diag OCcimmo</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<li>Vente / Location</li>
					<li class="indent"><a href="/vente" class="link">Vente</a></li>
					<li class="indent"><a href="/location" class="link">Location</a></li>
					<li><a href="/diagnostics-immobiliers" class="link">Diagnostics immobiliers</a></li>
					<li><a href="/post" class="link">Actualités</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div class="w-third-ns tc tl-ns">
				<h3 class="f4 b lh-title mb1 primary">Coordonnées</h3>
				<ul class="mb3">
					<li>19, Rue d'Espagne, 31140 Pechbonnieu</li>
					<li>Tél : <a href="tel:+33636368641">06 36 36 86 41</a></li>
					<li><a href="/contact">adresse email</a></li>
				</ul>
			</div>

			<div class="w-third-ns tc tl-ns">
				<h3 class="f4 b lh-title mb2 primary">Personnels qualifié</h3>
				<img src="/img/diploma.svg" alt="certifié" style="width: 120px;">
				<p>Certificats de Compétences nºC037 délivrés par QUALIXPERT</p>
			</div>

		</div>

		<div class="flex justify-center">
			<p class="f6 mr2">© 2019 <a href="/">diag-occimmo.com</a></p>
			<p class="f6 ml2"><a href="/mentions-legales">Mentions légales</a></p>
		</div>

	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>