<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="center mb4">
			<img src="/img/logo-footer.svg" alt="logo" class="db w5 center mb4 br0">

			<p class="f6 tj"><strong>Nous intervenons également dans les communes suivantes :</strong>
				<a class="link" href="/communes/Aucamville">Aucamville</a> | 
				<a class="link" href="/communes/Aureville">Aureville</a> | 
				<a class="link" href="/communes/Aussonne">Aussonne</a> | 
				<a class="link" href="/communes/Auzeville-Tolosane">Auzeville-Tolosane</a> | 
				<a class="link" href="/communes/Balma">Balma</a> | 
				<a class="link" href="/communes/Baziege">Baziège</a> | 
				<a class="link" href="/communes/Bazus">Bazus</a> | 
				<a class="link" href="/communes/Beauzelle">Beauzelle</a> | 
				<a class="link" href="/communes/Bessieres">Bessières</a> | 
				<a class="link" href="/communes/Blagnac">Blagnac</a> | 
				<a class="link" href="/communes/Bonrepos-Riquet">Bonrepos-Riquet</a> | 
				<a class="link" href="/communes/Bouloc">Bouloc</a> | 
				<a class="link" href="/communes/Bruguières">Bruguières</a> | 
				<a class="link" href="/communes/Buzet-sur-Tarn">Buzet-sur-Tarn</a> | 
				<a class="link" href="/communes/Castanet-Tolosan">Castanet-Tolosan</a> | 
				<a class="link" href="/communes/Castelginest">Castelginest</a> | 
				<a class="link" href="/communes/Castelmaurou">Castelmaurou</a> | 
				<a class="link" href="/communes/Castelnau-dEstretefonds">Castelnau-d'Estrétefonds</a> | 
				<a class="link" href="/communes/Cepet">Cépet</a> | 
				<a class="link" href="/communes/Colomiers">Colomiers</a> | 
				<a class="link" href="/communes/Cornebarrieu">Cornebarrieu</a> | 
				<a class="link" href="/communes/Cugnaux">Cugnaux</a> | 
				<a class="link" href="/communes/Escalquens">Escalquens</a> | 
				<a class="link" href="/communes/Fenouillet">Fenouillet</a> | 
				<a class="link" href="/communes/Flourens">Flourens</a> | 
				<a class="link" href="/communes/Fonbeauzard">Fonbeauzard</a> | 
				<a class="link" href="/communes/Fronton">Fronton</a> | 
				<a class="link" href="/communes/Gagnac-sur-Garonne">Gagnac-sur-Garonne</a> | 
				<a class="link" href="/communes/Gargas">Gargas</a> | 
				<a class="link" href="/communes/Garidech">Garidech</a> | 
				<a class="link" href="/communes/Gragnague">Gragnague</a> | 
				<a class="link" href="/communes/Gratentour">Gratentour</a> | 
				<a class="link" href="/communes/Grenade">Grenade</a> | 
				<a class="link" href="/communes/Labastide-Saint-Sernin">Labastide-Saint-Sernin</a> | 
				<a class="link" href="/communes/Labege">Labège</a> | 
				<a class="link" href="/communes/Lacroix-Falgarde">Lacroix-Falgarde</a> | 
				<a class="link" href="/communes/Lapeyrouse-Fossat">Lapeyrouse-Fossat</a> | 
				<a class="link" href="/communes/Launaguet">Launaguet</a> | 
				<a class="link" href="/communes/Lavalette">Lavalette</a> | 
				<a class="link" href="/communes/Léguevin">Léguevin</a> | 
				<a class="link" href="/communes/Lespinasse">Lespinasse</a> | 
				<a class="link" href="/communes/Merville">Merville</a> | 
				<a class="link" href="/communes/Mirepoix-sur-Tarn">Mirepoix-sur-Tarn</a> | 
				<a class="link" href="/communes/Mondonville">Mondonville</a> | 
				<a class="link" href="/communes/Montastruc-la-Conseillère">Montastruc-la-Conseillère</a> | 
				<a class="link" href="/communes/Montberon">Montberon</a> | 
				<a class="link" href="/communes/Montjoire">Montjoire</a> | 
				<a class="link" href="/communes/Montrabé">Montrabé</a> | 
				<a class="link" href="/communes/Ondes">Ondes</a> | 
				<a class="link" href="/communes/Paulhac">Paulhac</a> | 
				<a class="link" href="/communes/Pechbonnieu">Pechbonnieu</a> | 
				<a class="link" href="/communes/Pibrac">Pibrac</a> | 
				<a class="link" href="/communes/Pin-Balma">Pin-Balma</a> | 
				<a class="link" href="/communes/Plaisance-du-Touch">Plaisance-du-Touch</a> | 
				<a class="link" href="/communes/Quint-Fonsegrives">Quint-Fonsegrives</a> | 
				<a class="link" href="/communes/Ramonville-Saint-Agne">Ramonville-Saint-Agne</a> | 
				<a class="link" href="/communes/Revel">Revel</a> | 
				<a class="link" href="/communes/Rouffiac-Tolosan">Rouffiac-Tolosan</a> | 
				<a class="link" href="/communes/Saint-Alban">Saint-Alban</a> | 
				<a class="link" href="/communes/Saint-Jean">Saint-Jean</a> | 
				<a class="link" href="/communes/Saint-Jory">Saint-Jory</a> | 
				<a class="link" href="/communes/Saint-Loup-Cammas">Saint-Loup-Cammas</a> | 
				<a class="link" href="/communes/Saint-Sauveur">Saint-Sauveur</a> | 
				<a class="link" href="/communes/Seilh">Seilh</a> | 
				<a class="link" href="/communes/Toulouse">Toulouse</a> | 
				<a class="link" href="/communes/Tournefeuille">Tournefeuille</a> | 
				<a class="link" href="/communes/LUnion">L'Union</a> | 
				<a class="link" href="/communes/Vacquiers">Vacquiers</a> | 
				<a class="link" href="/communes/Verfeil">Verfeil</a> | 
				<a class="link" href="/communes/Villaries">Villariès</a> | 
				<a class="link" href="/communes/Villaudric">Villaudric</a> | 
				<a class="link" href="/communes/Villefranche-de-Lauragais">Villefranche-de-Lauragais</a> | 
				<a class="link" href="/communes/Villematier">Villematier</a> | 
				<a class="link" href="/communes/Villemur-sur-Tarn">Villemur-sur-Tarn</a> | 
				<a class="link" href="/communes/Villeneuve-les-Bouloc">Villeneuve-lès-Bouloc</a> | 
				<a class="link" href="/communes/Villeneuve-Tolosane">Villeneuve-Tolosane</a>
      </p>
      <div class="bb bordure-color mt4"></div>
		</div>

		<div class="flex-ns justify-around-ns">

			<div class="w-third-ns tc tl-ns">
				<h3 class="f4 b lh-title mb1 primary">Diag OCcimmo</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Accueil</a></li>
					<li><a href="/vente" class="link">Vente</a></li>
					<li><a href="/location" class="link">Location</a></li>
					<li><a href="/diagnostics-immobiliers" class="link">Diagnostics immobiliers</a></li>
					<li><a href="/post" class="link">Actualités</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div class="w-third-ns tc tl-ns">
				<h3 class="f4 b lh-title mb1 primary">Coordonnées</h3>
				<ul class="mb3">
					<li>19, Rue d'Espagne, 31140 Pechbonnieu</li>
					<li>Tél : <a href="tel:+33636368641">06 36 36 86 41</a></li>
					<li><a href="/contact">adresse email</a></li>
				</ul>
			</div>

			<div class="w-third-ns tc tl-ns">
				<h3 class="f4 b lh-title mb2 primary">Personnels qualifié</h3>
				<img src="/img/diploma.svg" alt="certifié" style="width: 120px;">
				<p>Certificats de Compétences nºC037 délivrés par QUALIXPERT</p>
			</div>

		</div>

		<div class="flex justify-center">
			<p class="f6 mr2">© 2019 <a href="/">diag-occimmo.com</a></p>
			<p class="f6 ml2"><a href="/mentions-legales">Mentions légales</a></p>
		</div>

	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>