<div class="pv5 pv5-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}'); background-attachment: fixed;">
  <div class="mw7 center ph3-ns">
    <div class="flex flex-wrap cf ph2-ns items-center">
      <div class="fl w-100 w-60-ns pa2 ">
        <h1 class="f2 f1-l fw9 di lh-title mb3 mw6 ttu titre">
          {{.title}}
        </h1>
        <div class="subtitle">
          {{ if .subtitle }}
          <p class="b f4 di lh-title mb3 mw6 bg-primary">
            {{.subtitle}}
          </p>
          {{ end }}
        </div>
      </div>
      <div class="fl w-100 w-40-ns pa2">
        <div class="pv2 ph3 flex mb4 carte">
          <div>
            <span class="mv1" style="display: block"><i class="fas fa-phone mr1"></i> 06 36 36 86 41</span>
            <span class="mv1" style="display: block"><i class="fas fa-envelope mr1"></i> contact@diag-occimmo.fr</span>
          </div>
        </div>
        <div class="tc">
          <a href="/contact" class="btn raise">Contactez-nous</a>
        </div>
      </div>
    </div>
  </div>
</div>