<div class="marge-haut"></div>
<nav
	class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey navbar">

	<!-- Logo -->
	<a href="/" id="logo" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Diag OCcimmo logo" class="br0 db mb0 w-100" />
	</a>

	<!-- Primary Nav -->
	<ul id="nava" class="flex b grey-3">
		<li>
			<div class="dropdown">
				<a id="venteloc" class="pa3 no-underline db dropbtn">Vente / Location</a>
				<div class="dropdown-content">
					<a href="/vente" class="lien pa2 no-underline db">Vente</a>
					<a href="/location" class="lien pa2 no-underline db">Location</a>
				</div>
			</div>
		</li>

		<li>
			<div class="dropdown">
				<a id="diag" class="pa3 no-underline db dropbtn">Diagnostics immobiliers</a>
				<div class="dropdown-content">
					<a href="/diagnostics-immobiliers/dpe" class="lien pa2 no-underline db">DPE et &Eacute;co-chèque</a>
					<a href="/diagnostics-immobiliers/gaz" class="lien pa2 no-underline db">Gaz</a>
					<a href="/diagnostics-immobiliers/electricite" class="lien pa2 no-underline db">&Eacute;lectricité</a>
					<a href="/diagnostics-immobiliers/amiante" class="lien pa2 no-underline db">Amiante</a>
					<a href="/diagnostics-immobiliers/plomb" class="lien pa2 no-underline db">Plomb</a>
					<a href="/diagnostics-immobiliers/termites" class="lien pa2 no-underline db">Termites</a>
					<a href="/diagnostics-immobiliers/loi_carrez_boutin" class="lien pa2 no-underline db">Loi Carrez/Boutin</a>
				</div>
			</div>
		</li>

		<li><a id="blog" href="/post" class="lien pa3 no-underline db">Actualités</a></li>

		<li><a id="contact" href="/contact" class="lien pa3 no-underline db">Contact</a></li>
	</ul>

</nav>