<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">Diag OCcimmo : des services de qualités</h2>
    <p class="mb4 tj">La société Diagnostic OCcimmo est soucieuse du suivi de ses clients et prend le temps de répondre
      aux questions afin de mieux les renseigner et de les accompagner dans la constitution de dossier diagnostic
      technique. Le diagnostiqueur effectue un certain nombre de préconisations suivant les diagnostics immobiliers pour
      l’amélioration de la sécurité du logement. Personnel qualifié, ayant obtenu les certifications par QUALIXPERT
      (organisme agrée par la COFRAC).
      Assurance responsabilité civile et professionnelle auprès du groupe d’assurances GAN.


    </p>

    <div class="flex-ns mhn2-ns mb3">
      <div class="ph3-ns w-50-ns">
        <div class="tc mv3">
          <div class="circle flex center mv3">
            <i class="far fa-folder-open fa-2x"></i>
          </div>
        </div>
        <h3 class="tc mv1">DDT</h3>
        <p class="tj">L’objectif du Dossier de Diagnostic Technique est d’informer le futur propriétaire ou locataire,
          de l’état sanitaire des biens mis en location ou en vente afin d’assurer la transparence sur la sécurité et la
          santé des personnes qui occuperont le logement. </p>
      </div>
      <div class="ph3-ns w-50-ns">
        <div class="circle flex center mv3">
          <i class="far fa-handshake fa-2x"></i>
        </div>
        <h3 class="tc mv1">Devis gratuit</h3>
        <p class="tj">Pour une demande de devis, nous nous engageons à vous répondre dans les meilleurs délais.
          N’hésitez pas à nous contacter par téléphone ou en renseignant notre formulaire de contact.</p>
      </div>
    </div>
  </div>
</div>