<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">Nos services</h2>
    <p class="mb4 mw6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque veniam nobis iure fugiat aut
      repellat ipsum, earum qui ab veritatis dignissimos commodi explicabo officiis? Non eaque cumque reprehenderit
      provident voluptatum!</p>

    <div class="flex-ns mhn2-ns mb3">
      <div class="ph3-ns w-50-ns">
        <div class="tc mv3">
          <span class="fa-stack fa-3x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-brain fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h3 class="tc mv1 b">Devis gratuit</h3>
        <p class="tj">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magnam ea asperiores, reiciendis
          aliquam maiores distinctio ducimus eos voluptatibus vel quis cumque cupiditate hic officiis? Beatae
          consequuntur maiores accusamus cumque?</p>
      </div>
      <div class="ph3-ns w-50-ns">
        <div class="circle flex center mv3">
          <i class="far fa-handshake fa-2x"></i>
        </div>
        <h3 class="tc mv1">Devis gratuit</h3>
        <p class="tj">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magnam ea asperiores, reiciendis
          aliquam maiores distinctio ducimus eos voluptatibus vel quis cumque cupiditate hic officiis? Beatae
          consequuntur maiores accusamus cumque?</p>
      </div>
    </div>
  </div>
</div>