table
{
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 2px 2px 6px var(--shadow);
}

td, th {
  padding: var(--spacing-medium);
  border: solid 1px var(--highlight);
}

td {
  font-size: var(--font-size);
}

th {
  color: var(--white);
  font-weight: 700;
  white-space: nowrap;
  background-color: var(--primary);
}

tr th {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}