{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="flex-ns largeur center">
    <div class="mw6 center ph3 pv4 w-70-l">
        <h3 class="lh-title b mb3">{{.Params.subtitle}}</h3>
        <div class="flex justify-between grey-3">
            <p>lecture en {{ .ReadingTime }} minutes</p>
        </div>
        <div class="cms mw6">
            {{ .Content }}
        </div>
    </div>
    <div class="center w-30-l">
        {{ partial "card-menu"}}
    </div>
</div>


{{ end }}