{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<table class="mv4 center" style="width: 80%">

  <tr>
    <th>Diagnostics</th>
    <th>Locaux visés</th>
    <th>Durée de validité</th>
    <th>Sanction en cas d'absence de document</th>
  </tr>

  <tbody>
    <tr>
      <td>Etat de l'installation intérieure de gaz</td>
      <td>Tous les logements dont l'installation a été réalisée il y a plus de 15 ans</td>
      <td>Six ans</td>
      <td>Pas d'exonération de la garantie des vices cachés du vendeur et des sanctions pénales et civiles pour le
        bailleur</td>
    </tr>
    <tr>
      <td>Etat de l'installation intérieure éléctrique</td>
      <td>Tous les logements dont l'installation a été réalisée il y a plus de 15 ans</td>
      <td>Six ans</td>
      <td>Pas d'exonération de la garantie des vices cachés du vendeur et des sanctions pénales et civiles pour le
        bailleur</td>
    </tr>
    <tr>
      <td>ERP (Code de l'environnement, article L. 125-5)</td>
      <td>Tous les immeubles quelle que soit leur affectation, situés en zone de sismicité et/ou dans une zone
        couverte par un plan de prévention des risques</td>
      <td>Six mois</td>
      <td>Résolution de la vente ou du bail, diminution du prix de vente ou du loyer</td>
    </tr>
    <tr>
      <td>Etat mentionnant la présence ou l'absence d'amiante</td>
      <td>Tous les immeubles bâtis dont le permis de construire a été délivré avant le 01/07/1997</td>
      <td>Pas de limite en l'absence d'amiante</td>
      <td>Pas d'exonération de la garantie des vices cachés du vendeur</td>
    </tr>
    <tr>
      <td>Constat de risque d'exposition au plomb</td>
      <td>Immeubles à usage d'habitation dont la construction est antérieure au 01/01/1949</td>
      <td>Six ans pour un contrat de location lorsque le résultat est positif, mais sans
        limite en l'absence de plomb ou si le taux est inférieur au seuil règlementaire</td>
      <td>Pas d'exonération de la garantie des vices cachés du vendeur et des sanctions pénales et civiles pour le
        bailleur</td>
    </tr>
    <tr>
      <td>Diagnostic de performance énergétique</td>
      <td>Tous les immeubles, quelle que soit leur affectation exceptés les bâtiments à usage agricole, artisanal,
        industriel et les monuments historiques classés</td>
      <td>Dix ans</td>
      <td>Sanctions pénales et civiles (risques de diminution du prix du loyer ou de vente)</td>
    </tr>
    <tr>
      <td>Surface habitable (loi Boutin : loi n°2009-323 du 25 mars 2009)</td>
      <td>Tous les immeubles à usage d'habitation</td>
      <td>Illimitée en l'absence de travaux qui peuvent impacter la superficie</td>
      <td>Informatif mais peut avoir une incidence sur le prix du loyer en cas d'erreur de mesurage</td>
    </tr>
    </div>
  </tbody>
</table>

{{ end }}