{{ define "main" }}

{{ partial "jumbotron-home" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="flex-ns largeur center">
  <div class="w-70-ns mh2-ns">
    <div class="bg-off-white pv4">
      <div class="mhn1-l ph3 center mw7">
        <h2 class="f2 b lh-title mb2">Diag OCcimmo</h2>
        <p class="tj">Diag OCcimmo est une société intervenant dans le cadre de la vente ou de la location pour
          effectuer, auprès des particuliers ou professionnels, la réalisation des <a href="/diagnostics-immobiliers" class="link primary">diagnostics
            immobiliers</a> obligatoires en Haute Garonne à Toulouse et ses environs. <br><br>

          Avant chaque transaction immobilière, que l’on soit bailleur ou vendeur, vous devez faire
          établir un dossier de diagnostics techniques (DDT) par un diagnostiqueur certifié et aussi
          couvert par une assurance responsabilité civile professionnel. Ce DDT doit être produit au cours de la
          signature d’un contrat de bail, d’une promesse de vente et d’un acte de vente, et ce même dès
          la mise en vente ou location de l'immeuble, il est obligatoire de produire un dpe en cours de validité. <br><br>

          La sociéte Diag OCcimmo a acquis depuis des années une expérience qui permet d’assurer
          un travail de qualité sur site et ainsi que l’élaboration de dossiers détaillés de diagnostics
          immobiliers en restant toujours informé sur les réglementations vigueurs.
          Grâce aux prestations de qualité effectuées par son personnel qualifié et certifié, Diag
          Occimmo a vu sa notoriété grandir et a pu développer un portefeuille client basé sur la
          confiance et leur garantir un travail d’indépendance, d'intégrité et d’impartialité
          comme nous l’impose l’article L. 271-6 du code de la construction et de l’habitation.</p>
      </div>
    </div>

    {{ partial "services" }}


  </div>
  <div class="w-30-ns mh2-ns">
    {{ partial "card-menu"}}
  </div>

</div>



{{ end }}