{{ define "main" }}

{{ partial "jumbotron-home" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="flex largeur center">
  <div class="w-70">
    {{ partial "short-text" .Params.blurb}}

    {{ partial "services" }}

    {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Contactez-nous" "buttonLink" "/contact") }}

  </div>
  <div class="w-30">
    {{ partial "card-menu"}}
  </div>

</div>



{{ end }}